body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(33, 33, 33);
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loader {
  text-align: center;
}

.container {
  height: 100vh;
}

.heading {
  text-align: center;
  text-transform: uppercase;
}

.cards-container {
  display: flex;
  flex-direction: column;
}

.card {
  text-align: center;
  padding: 5px;
  width: 100%;
  margin-bottom: 5px;;
}

.avatar {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.name {
  font-weight: bold;
  font-size: 24px;
}

.email {
  font-style: italic;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.email:hover {
  text-decoration: underline;
}

.message {
  text-align: center;
}

@media (min-width: 650px) {
  .cards-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 750px;
    margin: 0 auto;
  }

  .card {
    width: 45%;
  }

  .avatar {
    width: 200px;
    height: 200px;
  }
}